.cb-slideshow,
.cb-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}
.cb-slideshow:after {
    content: '';
    background: transparent url(../images/pattern.png) repeat top left;
}
.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 130s linear infinite 0s;
    -moz-animation: imageAnimation 130s linear infinite 0s;
    -o-animation: imageAnimation 130s linear infinite 0s;
    -ms-animation: imageAnimation 130s linear infinite 0s;
    animation: imageAnimation 130s linear infinite 0s;
}
.cb-slideshow li div {
    z-index: 1000;
    position: absolute;
    bottom: 80px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
/*	-webkit-animation: titleAnimation2 78s linear infinite 0s;
    -moz-animation: titleAnimation2 78s linear infinite 0s;
    -o-animation: titleAnimation2 78s linear infinite 0s;
    -ms-animation: titleAnimation2 78s linear infinite 0s;
    animation: titleAnimation2 78s linear infinite 0s;
*/

}
.cb-slideshow li div h3 {
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 160px;
    padding: 0 30px;
    line-height: 120px;
    color:#F8D809;
}
.cb-slideshow li div h4 { 
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    padding: 0;
    line-height: 300px; 
	color:#FFFFFF;

}
/*-------------------------------------------bg timing----------------------------------*/
.cb-slideshow li:nth-child(1) span { background-image: url(../images/1.jpg) }
.cb-slideshow li:nth-child(2) span {
    background-image: url(../images/2.jpg);
    -webkit-animation-delay: 10s;
    -moz-animation-delay: 10s;
    -o-animation-delay: 10s;
    -ms-animation-delay: 10s;
    animation-delay: 10s;
}
.cb-slideshow li:nth-child(3) span {
    background-image: url(../images/3.jpg);
    -webkit-animation-delay:20s;
    -moz-animation-delay: 20s;
    -o-animation-delay: 20s;
    -ms-animation-delay: 20s;
    animation-delay: 20s;
}
.cb-slideshow li:nth-child(4) span {
    background-image: url(../images/4.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
.cb-slideshow li:nth-child(5) span {
    background-image: url(../images/5.jpg);
    -webkit-animation-delay: 40s;
    -moz-animation-delay: 40s;
    -o-animation-delay: 40s;
    -ms-animation-delay: 40s;
    animation-delay: 40s;
}
.cb-slideshow li:nth-child(6) span {
    background-image: url(../images/6.jpg);
    -webkit-animation-delay: 50s;
    -moz-animation-delay: 50s;
    -o-animation-delay: 50s;
    -ms-animation-delay: 50s;
    animation-delay: 50s;
}
.cb-slideshow li:nth-child(7) span {
    background-image: url(../images/7.jpg);
    -webkit-animation-delay: 60s;
    -moz-animation-delay: 60s;
    -o-animation-delay: 60s;
    -ms-animation-delay: 60s;
    animation-delay: 60s;
}
.cb-slideshow li:nth-child(8) span {
    background-image: url(../images/8.jpg);
    -webkit-animation-delay: 70s;
    -moz-animation-delay: 70s;
    -o-animation-delay: 70s;
    -ms-animation-delay: 70s;
    animation-delay: 70s;
}
.cb-slideshow li:nth-child(9) span {
    background-image: url(../images/9.jpg);
    -webkit-animation-delay: 80s;
    -moz-animation-delay: 80s;
    -o-animation-delay: 80s;
    -ms-animation-delay: 80s;
    animation-delay: 80s;
}
.cb-slideshow li:nth-child(10) span {
    background-image: url(../images/10.jpg);
    -webkit-animation-delay: 90s;
    -moz-animation-delay: 90s;
    -o-animation-delay: 90s;
    -ms-animation-delay: 90s;
    animation-delay: 90s;
}
.cb-slideshow li:nth-child(11) span {
    background-image: url(../images/11.jpg);
    -webkit-animation-delay: 100s;
    -moz-animation-delay: 100s;
    -o-animation-delay: 100s;
    -ms-animation-delay: 100s;
    animation-delay: 100s;
}
.cb-slideshow li:nth-child(12) span {
    background-image: url(../images/12.jpg);
    -webkit-animation-delay: 110s;
    -moz-animation-delay: 110s;
    -o-animation-delay: 110s;
    -ms-animation-delay: 110s;
    animation-delay: 110s;
}
.cb-slideshow li:nth-child(13) span {
    background-image: url(../images/13.jpg);
    -webkit-animation-delay: 240s linear infinite 0s;
    -moz-animation-delay: 240s linear infinite 0s;
    -o-animation-delay: 240s linear infinite 0s;
    -ms-animation-delay: 240s linear infinite 0s;
    animation-delay: 240s linear infinite 0s;
}

/*-------------------------------------------title timing----------------------------------*/


.cb-slideshow li:nth-child(2) div {
	-webkit-animation: titleAnimation 240s linear infinite 0s;
    -moz-animation: titleAnimation 240s linear infinite 0s;
    -o-animation: titleAnimation 240s linear infinite 0s;
    -ms-animation: titleAnimation 240s linear infinite 0s;
    animation: titleAnimation 240s linear infinite 0s;
	bottom: 20px;
    left: 60px;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    -ms-animation-delay: 0s;
    animation-delay: 0s;
}
.cb-slideshow li:nth-child(3) div {
	-webkit-animation: titleAnimation2 240s linear infinite 0s;
    -moz-animation: titleAnimation2 240s linear infinite 0s;
    -o-animation: titleAnimation2 240s linear infinite 0s;
    -ms-animation: titleAnimation2 240s linear infinite 0s;
    animation: titleAnimation2 240s linear infinite 0s;
	top: 40px;
    left: 10px;
    -webkit-animation-delay: 20s;
    -moz-animation-delay: 20s;
    -o-animation-delay: 20s;
    -ms-animation-delay: 20s;
    animation-delay: 20s;
}
.cb-slideshow li:nth-child(4) div {
	-webkit-animation: titleAnimation1 240s linear infinite 0s;
    -moz-animation: titleAnimation1 240s linear infinite 0s;
    -o-animation: titleAnimation1 240s linear infinite 0s;
    -ms-animation: titleAnimation1 240s linear infinite 0s;
    animation: titleAnimation1 240s linear infinite 0s;
	bottom: 200px;
    left: 200px;
    -webkit-animation-delay: 40s;
    -moz-animation-delay: 40s;
    -o-animation-delay: 40s;
    -ms-animation-delay: 40s;
    animation-delay: 40s;
}
.cb-slideshow li:nth-child(5) div {
	-webkit-animation: titleAnimation 240s linear infinite 0s;
    -moz-animation: titleAnimation 240s linear infinite 0s;
    -o-animation: titleAnimation 240s linear infinite 0s;
    -ms-animation: titleAnimation 240s linear infinite 0s;
    animation: titleAnimation 240s linear infinite 0s;
	top: 100px;
    right: 100px;
    -webkit-animation-delay: 60s;
    -moz-animation-delay: 60s;
    -o-animation-delay: 60s;
    -ms-animation-delay: 60s;
    animation-delay: 60s;
}
.cb-slideshow li:nth-child(6) div {
	-webkit-animation: titleAnimation2 240s linear infinite 0s;
    -moz-animation: titleAnimation2 240s linear infinite 0s;
    -o-animation: titleAnimation2 240s linear infinite 0s;
    -ms-animation: titleAnimation2 240s linear infinite 0s;
    animation: titleAnimation2 240s linear infinite 0s;
	left: 30px;
    bottom: 700px;
    -webkit-animation-delay: 80s;
    -moz-animation-delay: 80s;
    -o-animation-delay: 80s;
    -ms-animation-delay: 80s;
    animation-delay: 80s;
}

.cb-slideshow li:nth-child(7) div {
    -webkit-animation: titleAnimation 240s linear infinite 0s;
    -moz-animation: titleAnimation 240s linear infinite 0s;
    -o-animation: titleAnimation 240s linear infinite 0s;
    -ms-animation: titleAnimation 240s linear infinite 0s;
    animation: titleAnimation 240s linear infinite 0s;
	right: 130px;
    bottom: 250px;
    -webkit-animation-delay: 100s;
    -moz-animation-delay: 100s;
    -o-animation-delay: 100s;
    -ms-animation-delay: 100s;
    animation-delay: 100s;
}
.cb-slideshow li:nth-child(8) div {
    -webkit-animation: titleAnimation1 240s linear infinite 0s;
    -moz-animation: titleAnimation1 240s linear infinite 0s;
    -o-animation: titleAnimation1 240s linear infinite 0s;
    -ms-animation: titleAnimation1 240s linear infinite 0s;
    animation: titleAnimation1 240s linear infinite 0s;
	right: 630px;
    bottom: 750px;
    -webkit-animation-delay: 120s;
    -moz-animation-delay: 120s;
    -o-animation-delay: 120s;
    -ms-animation-delay: 120s;
    animation-delay: 120s;
}
.cb-slideshow li:nth-child(9) div {
    -webkit-animation: titleAnimation2 240s linear infinite 0s;
    -moz-animation: titleAnimation2 240s linear infinite 0s;
    -o-animation: titleAnimation2 240s linear infinite 0s;
    -ms-animation: titleAnimation2 240s linear infinite 0s;
    animation: titleAnimation2 240s linear infinite 0s;
	right: 130px;
    bottom: 150px;
    -webkit-animation-delay: 140s;
    -moz-animation-delay: 140s;
    -o-animation-delay: 140s;
    -ms-animation-delay: 140s;
    animation-delay: 140s;
}
.cb-slideshow li:nth-child(10) div {
    -webkit-animation: titleAnimation2 240s linear infinite 0s;
    -moz-animation: titleAnimation2 240s linear infinite 0s;
    -o-animation: titleAnimation2 240s linear infinite 0s;
    -ms-animation: titleAnimation2 240s linear infinite 0s;
    animation: titleAnimation2 240s linear infinite 0s;
	right: 330px;
    bottom: 350px;
    -webkit-animation-delay: 160s;
    -moz-animation-delay: 160s;
    -o-animation-delay: 160s;
    -ms-animation-delay: 160s;
    animation-delay: 160s;
}
.cb-slideshow li:nth-child(11) div {
    -webkit-animation: titleAnimation 240s linear infinite 0s;
    -moz-animation: titleAnimation 240s linear infinite 0s;
    -o-animation: titleAnimation 240s linear infinite 0s;
    -ms-animation: titleAnimation 240s linear infinite 0s;
    animation: titleAnimation 240s linear infinite 0s;
	left: 630px;
    top: 750px;
    -webkit-animation-delay: 180s;
    -moz-animation-delay: 180s;
    -o-animation-delay: 180s;
    -ms-animation-delay: 180s;
    animation-delay: 180s;
}
.cb-slideshow li:nth-child(12) div {
    -webkit-animation: titleAnimation1 240s linear infinite 0s;
    -moz-animation: titleAnimation1 240s linear infinite 0s;
    -o-animation: titleAnimation1 240s linear infinite 0s;
    -ms-animation: titleAnimation1 240s linear infinite 0s;
    animation: titleAnimation1 240s linear infinite 0s;
	right: 30px;
    top: 140px;
    -webkit-animation-delay: 200s;
    -moz-animation-delay: 200s;
    -o-animation-delay: 200s;
    -ms-animation-delay: 200s;
    animation-delay: 200s;
}
.cb-slideshow li:nth-child(13) div {
    -webkit-animation: titleAnimation2 240s linear infinite 0s;
    -moz-animation: titleAnimation2 240s linear infinite 0s;
    -o-animation: titleAnimation2 240s linear infinite 0s;
    -ms-animation: titleAnimation2 240s linear infinite 0s;
    animation: titleAnimation2 240s linear infinite 0s;
	left: 230px;
    bottom: 850px;
    -webkit-animation-delay: 220;
    -moz-animation-delay: 220;
    -o-animation-delay: 220;
    -ms-animation-delay: 220;
    animation-delay: 220;
}


/*-------------------------------------------------------------BG Animation---------------------------------------------------------------*/


@-webkit-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -webkit-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -webkit-transform: scale(1.05);
	    -webkit-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -webkit-transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    -webkit-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -moz-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -moz-transform: scale(1.05);
	    -moz-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -moz-transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    -moz-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -o-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -o-transform: scale(1.05);
	    -o-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -o-transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    -o-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -ms-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -ms-transform: scale(1.05);
	    -ms-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -ms-transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    -ms-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    transform: scale(1.05);
	    animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    transform: scale(1.1);
	}
	100% { opacity: 0 }
}

/*-------------------------------------------------------------Title 1 Animation---------------------------------------------------------------*/

@-webkit-keyframes titleAnimation { 
	0% {
	    opacity: 0;
	    -webkit-transform: translateY(200px);
	}
	2% {
	    opacity: 1;
	    -webkit-transform: translateY(0px);
	}
	5% {
	    opacity: 1;
	    -webkit-transform: scale(1);
	}
	7% { opacity: 0 }
	8% {
	    opacity: 0;
	    -webkit-transform: scale(10);
	}
	100% { opacity: 0 }
}
@-moz-keyframes titleAnimation { 
	0% {
	    opacity: 0;
	    -moz-transform: translateY(200px);
	}
	2% {
	    opacity: 1;
	    -moz-transform: translateY(0px);
	}
	5% {
	    opacity: 1;
	    -moz-transform: scale(1);
	}
	7% { opacity: 0 }
	8% {
	    opacity: 0;
	    -moz-transform: scale(10);
	}
	100% { opacity: 0 }
}
@-o-keyframes titleAnimation { 
	0% {
	    opacity: 0;
	    -o-transform: translateY(200px);
	}
	2% {
	    opacity: 1;
	    -o-transform: translateY(0px);
	}
	5% {
	    opacity: 1;
	    -o-transform: scale(1);
	}
	7% { opacity: 0 }
	8% {
	    opacity: 0;
	    -o-transform: scale(10);
	}
	100% { opacity: 0 }
}
@-ms-keyframes titleAnimation { 
	0% {
	    opacity: 0;
	    -ms-transform: translateY(200px);
	}
	2% {
	    opacity: 1;
	    -ms-transform: translateY(0px);
	}
	5% {
	    opacity: 1;
	    -ms-transform: scale(1);
	}
	7% { opacity: 0 }
	8% {
	    opacity: 0;
	    -webkit-transform: scale(10);
	}
	100% { opacity: 0 }
}
@keyframes titleAnimation { 
	0% {
	    opacity: 0;
	    transform: translateY(200px);
	}
	2% {
	    opacity: 1;
	    transform: translateY(0px);
	}
	5% {
	    opacity: 1;
	    transform: scale(1);
	}
	7% { opacity: 0 }
	8% {
	    opacity: 0;
	    transform: scale(10);
	}
	100% { opacity: 0 }
}

/*--------------------------------------- Animation for the title2------------------------------------------------ */
@-webkit-keyframes titleAnimation2 { 
	0% {
	    opacity: 0;
	    -webkit-transform: translateX(200px);
	}
	2% {
	    opacity: 1;
	    -webkit-transform: translateX(0px);
	}
	5% {
	    opacity: 1;
	    -webkit-transform: translateX(0px);
	}
	7% {
	    opacity: 0;
	    -webkit-transform: translateX(-400px);
	}
	8% { opacity: 0 }
	100% { opacity: 0 }
}
@-moz-keyframes titleAnimation2 { 
	0% {
	    opacity: 0;
	    -moz-transform: translateX(200px);
	}
	2% {
	    opacity: 1;
	    -moz-transform: translateX(0px);
	}
	5% {
	    opacity: 1;
	    -moz-transform: translateX(0px);
	}
	7% {
	    opacity: 0;
	    -moz-transform: translateX(-400px);
	}
	8% { opacity: 0 }
	100% { opacity: 0 }
}
@-o-keyframes titleAnimation2 { 
	0% {
	    opacity: 0;
	    -o-transform: translateX(200px);
	}
	2% {
	    opacity: 1;
	    -o-transform: translateX(0px);
	}
	5% {
	    opacity: 1;
	    -o-transform: translateX(0px);
	}
	7% {
	    opacity: 0;
	    -o-transform: translateX(-400px);
	}
	8% { opacity: 0 }
	100% { opacity: 0 }
}
@-ms-keyframes titleAnimation2 { 
	0% {
	    opacity: 0;
	    -ms-transform: translateX(200px);
	}
	2% {
	    opacity: 1;
	    -ms-transform: translateX(0px);
	}
	5% {
	    opacity: 1;
	    -ms-transform: translateX(0px);
	}
	7% {
	    opacity: 0;
	    -ms-transform: translateX(-400px);
	}
	8% { opacity: 0 }
	100% { opacity: 0 }
}
@keyframes titleAnimation2 { 
	0% {
	    opacity: 0;
	    transform: translateX(200px);
	}
	2% {
	    opacity: 1;
	    transform: translateX(0px);
	}
	5% {
	    opacity: 1;
	    transform: translateX(0px);
	}
	7% {
	    opacity: 0;
	    transform: translateX(-400px);
	}
	8% { opacity: 0 }
	100% { opacity: 0 }
}
/* ---------------------------------------------------Animation for the title 3 ------------------------------------------------*/
@-webkit-keyframes titleAnimation1 { 
	0% {
	    opacity: 0;
	    -webkit-transform: translateX(-200px);
	}
	2% {
	    opacity: 1;
	    -webkit-transform: translateX(0px);
	}
	5% {
	    opacity: 1;
	    -webkit-transform: translateX(0px);
	}
	7% {
	    opacity: 0;
	    -webkit-transform: translateX(400px);
	}
	8% { opacity: 0 }
	100% { opacity: 0 }
}
@-moz-keyframes titleAnimation1 { 
	0% {
	    opacity: 0;
	    -moz-transform: translateX(-200px);
	}
	2% {
	    opacity: 1;
	    -moz-transform: translateX(0px);
	}
	5% {
	    opacity: 1;
	    -moz-transform: translateX(0px);
	}
	7% {
	    opacity: 0;
	    -moz-transform: translateX(400px);
	}
	8% { opacity: 0 }
	100% { opacity: 0 }
}
@-o-keyframes titleAnimation1 { 
	0% {
	    opacity: 0;
	    -o-transform: translateX(-200px);
	}
	2% {
	    opacity: 1;
	    -o-transform: translateX(0px);
	}
	5% {
	    opacity: 1;
	    -o-transform: translateX(0px);
	}
	7% {
	    opacity: 0;
	    -o-transform: translateX(400px);
	}
	8% { opacity: 0 }
	100% { opacity: 0 }
}
@-ms-keyframes titleAnimation1 { 
	0% {
	    opacity: 0;
	    -ms-transform: translateX(-200px);
	}
	2% {
	    opacity: 1;
	    -ms-transform: translateX(0px);
	}
	5% {
	    opacity: 1;
	    -ms-transform: translateX(0px);
	}
	7% {
	    opacity: 0;
	    -ms-transform: translateX(400px);
	}
	8% { opacity: 0 }
	100% { opacity: 0 }
}
@keyframes titleAnimation1 { 
	0% {
	    opacity: 0;
	    transform: translateX(-200px);
	}
	2% {
	    opacity: 1;
	    transform: translateX(0px);
	}
	5% {
	    opacity: 1;
	    transform: translateX(0px);
	}
	7% {
	    opacity: 0;
	    transform: translateX(400px);
	}
	8% { opacity: 0 }
	100% { opacity: 0 }
}


/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}
@media screen and (max-width: 1140px) { 
	.cb-slideshow li div h3 { font-size: 100px }
}
@media screen and (max-width: 600px) { 
	.cb-slideshow li div h3 { font-size: 50px }
}